<form class="form-content" [formGroup]="form" (ngSubmit)="submitHandler()">
	<mat-form-field class="form-field">

		<input matInput placeholder="Email" formControlName="email" id="email" type="email">
		<mat-icon matSuffix class="icon-caption">account_circle</mat-icon>
		<mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
			<mat-error *ngIf="form.get('email').errors['email'] && !form.get('email').errors['required']">
				Please enter a valid email address
			</mat-error>
			<mat-error *ngIf="form.get('email').errors['required']">
				Email is required
			</mat-error>
		</mat-error>
	</mat-form-field>

	<mat-form-field class="form-field">
		<input matInput placeholder="Password" formControlName="password" id="password" type="password">
		<mat-icon matSuffix class="icon-caption">lock</mat-icon>
		<mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
			<mat-error *ngIf="form.get('password').errors['required']">
				Password is required
			</mat-error>
			<mat-error *ngIf="form.get('password').errors['minlength']">
				Minimum password length {{form.get('password').errors['minlength']['requiredLength']}},
				entered {{form.get('password').errors['minlength']['actualLength']}}
			</mat-error>
		</mat-error>
	</mat-form-field>

	<button mat-raised-button [color]="'btn-success'" [class.spinner]="loading"
		[disabled]="loading || form.invalid || form.disabled" type="submit">{{title}}</button>

</form>

